@charset "utf-8";

span{
  position: relative;
  display: inline-block;
  text-decoration: none;
  filter: none;
}
span::after {
  position: absolute;
  bottom: -8px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #333;
  opacity: 0;
  visibility: hidden;
  transition: .3s;
}
span:hover::after {
  bottom: -4px;
  opacity: 1;
  visibility: visible;
}

header{
  border-bottom: 5px solid;
  border-bottom-color: antiquewhite;
}